<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xgq.financialsys.mapping.IncomeTypeMapper">
  <resultMap id="BaseResultMap" type="cn.xgq.financialsys.domain.IncomeType">
    <id column="income_type_id" jdbcType="INTEGER" property="incomeTypeId" />
    <result column="income_type" jdbcType="VARCHAR" property="incomeType" />
  </resultMap>
  <sql id="Base_Column_List">
    income_type_id, income_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from incometype
    where income_type_id = #{incomeTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from incometype
    where income_type_id = #{incomeTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xgq.financialsys.domain.IncomeType">
    insert into incometype (income_type_id, income_type)
    values (#{incomeTypeId,jdbcType=INTEGER}, #{incomeType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xgq.financialsys.domain.IncomeType">
    insert into incometype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="incomeTypeId != null">
        income_type_id,
      </if>
      <if test="incomeType != null">
        income_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="incomeTypeId != null">
        #{incomeTypeId,jdbcType=INTEGER},
      </if>
      <if test="incomeType != null">
        #{incomeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xgq.financialsys.domain.IncomeType">
    update incometype
    <set>
      <if test="incomeType != null">
        income_type = #{incomeType,jdbcType=VARCHAR},
      </if>
    </set>
    where income_type_id = #{incomeTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xgq.financialsys.domain.IncomeType">
    update incometype
    set income_type = #{incomeType,jdbcType=VARCHAR}
    where income_type_id = #{incomeTypeId,jdbcType=INTEGER}
  </update>

  <select id="findList" resultMap="BaseResultMap">
    select * from incometype where 1=1
  </select>
</mapper>