<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xgq.financialsys.mapping.LogMapper">
  <resultMap id="BaseResultMap" type="cn.xgq.financialsys.domain.Log">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="log_desc" jdbcType="VARCHAR" property="logDesc" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="log_key" jdbcType="VARCHAR" property="logKey" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, username, update_time, log_desc, ip_address, log_key, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from logs
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from logs
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.xgq.financialsys.domain.Log">
    insert into logs (id, create_time, username, 
      update_time, log_desc, ip_address, 
      log_key, type)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{logDesc,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{logKey,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.xgq.financialsys.domain.Log">
    insert into logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="logDesc != null">
        log_desc,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="logKey != null">
        log_key,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logDesc != null">
        #{logDesc,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="logKey != null">
        #{logKey,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xgq.financialsys.domain.Log">
    update logs
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logDesc != null">
        log_desc = #{logDesc,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="logKey != null">
        log_key = #{logKey,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xgq.financialsys.domain.Log">
    update logs
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      log_desc = #{logDesc,jdbcType=VARCHAR},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      log_key = #{logKey,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>